% -*- Erlang -*-
% vim: ts=4 sw=4 et ft=erlang
{erl_opts, [
        nowarn_deprecated_type,
        {parse_transform, lager_transform}    
]}.

{pre_hooks,[
        {"linux|bsd|darwin|solaris", compile, "escript ./support/crypto_compat.escript"},
        {"win32", compile, "escript.exe support/crypto_compat.escript"}
]}.

{deps, [
        {'espec',     ".*",   { git, "git://github.com/lucaspiller/espec.git",  "master"  } },
        {'lager',     ".*",   { git, "git://github.com/basho/lager.git",        "master"  } },
        {'erl_utils', ".*",   { git, "git://github.com/jacktang/erl_utils.git", "master"  } }
]}.


{xref_warnings, true}.
